.new-album-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #74A2FF
}

.new-album-header {
    font-size: 40px;
}

.new-album-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-album-input {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    background-color: #58019C;
    border: 2px solid black;
    padding: 32px 32px 8px 32px;
    border-radius: 20px;
    width: 450px;
    align-items: center;
}

.new-album-input > span {
    margin-bottom: 4px;
}

.new-album-input > input, .new-album-input > textarea {
    padding: 4px;
}

.new-album-input > input::placeholder {
    color:black
}

.new-album-input > input[type="file"] {
    padding: 4px;
    margin: -4px;
    position: relative;
    outline: none;
    content: "Upload File";


    /* File Selector Button Styles */
    &::file-selector-button {
      border-radius: 4px;
      padding: 0 16px;
      height: 40px;
      cursor: pointer;
      background-color: white;
      border: 1px solid rgba(#000, 0.16);
      box-shadow: 0px 1px 0px rgba(#000, 0.05);
      margin-right: 16px;
      width: 132px;
      /* color: transparent; */
    }
  }

  .new-album-desc {
    resize: none;
    width: 80%;
    height: 100px;
    &::placeholder {
        color: black;
    }
  }

.new-album-submit-button {
    width: 300px;
    height: 40px;
    margin-bottom: 20px;
    background-color: #74A2FF ;
    color: white;

    &:hover {
        box-shadow: 2px 2px black;
    }
}
