.landing-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.landing-image {
  border-radius: 10px;
  margin: 40px 0;
  width: 30%;
}

.landing-h1 {
  font-size: 60px;
  color: #58019C;
  text-shadow: -1px -1px 0 #74A2FF,
    1px -1px 0 #74A2FF,
    -1px 1px 0 #74A2FF,
    1px 1px 0 #74A2FF;
}

.landing-buttons{
  display: flex;
  flex-direction: column;

}

.landing-buttons > a, .landing-buttons > div {
  text-align: center;
  width: 100%;
  margin-top: 10px;
}

h2 > a {
  color: #74A2FF;

  &:visited {
    color: #74A2FF;
  }
}


.landing-button {
  border: 1px solid black;
  background-color: #74A2FF;
  color: black;
  padding: 5px;
  margin: 2px;
  text-decoration: none;
  box-sizing: border-box;
  min-width: 260px;

  &:hover{
    cursor: pointer;
  }
}
