.sign-up-header {
    font-size: 40px;
}

.sign-up-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#74A2FF
}

.sign-up-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #74A2FF;
    width: 100%
}


.sign-up-input {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    background-color: #58019C;
    border: 2px solid black;
    padding: 32px 32px 0px 32px;
    border-radius: 20px;
    width: 450px;
    align-items: center;
}


.sign-up-input > input::placeholder {
    color:black
}

.sign-up-input > input {
    padding: 4px;
}

.sign-up-submit-button {

    width: 300px;
    height: 40px;
    background-color: #74A2FF ;
    color: white;

    &:hover {
        box-shadow: 2px 2px black;
    }
}
