.all-playlists{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.all-playlists-header{
    color: white;
    font-size: 50px;
}

.all-playlists-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.playlist-card{
    margin: 10px;
    background-color: #4da831;
    padding: 1%;
    border-radius: 10px;
    color: #3c31d6;
    font-size: 18px;
    box-shadow: 2px 2px 2px 2px #ff5000;
    text-align: center;
}

.playlist-card:hover{
    cursor: pointer;
    box-shadow: 4px 4px 4px 4px #ff5000;
}

.playlist-card-image{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    border: 2px solid black
}

.all-playlists-new-playlist-button{
    margin: 10px;
    width: 20%;
    height: 40px;
    background-color: #3c31d6 ;
    color: white;
    box-shadow: 1px 1px 2px  #ff5000;

    &:hover {
        box-shadow: 3px 3px 4px  #ff5000;
    }
}
