.add-to-playlist-modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #36454F;
    align-items: center;
    height: 300px;
    width: 500px;
}

.add-to-playlist-modal > h1 {
    text-align: center;

}

.add-to-playlist-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0px;
}

.add-to-playlist-button{
    background-color: #74A2FF ;
    color: white;
    margin: 10px;
    height: 40px;
    width: 60%;

    &:hover {
        box-shadow: 2px 2px black;
    }
}

.add-to-playlist-select{
    margin: 10px;
    width: 60%;
    height: 40px;
    background-color: white ;
    color: black;
}
