/* TODO: Add sitewide styles */
*{
    font-family: 'Dosis', sans-serif;
}

body{
    background-color: #36454F;
    margin: 0px;

}

.error {
    color: #ff5000;
    margin-top: 8px;
    font-weight: bold;
}
