.song-card {
    display: flex;
    background-color: #58019C;
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 15px;
    margin-bottom: 10px;
    color: #74A2FF;
    padding: 0 10%;
    width: 60%;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}

.song-play-button{
    height: 30px;
    width: 30px;
    margin: 10px;

    transition: color .1s ease-in;

    &:hover {
        cursor: pointer;
        color: #4371CE
    }
}

.song-card-song-title-play{
    display: flex;
    align-items: center;
}

.song-card-buttons-likes-container{
    display: flex;
    margin-top: 15px;
}

.like-button{
    font-size: x-large;
    padding-right: 3px;
    transition: color .1s ease-in;

    &:hover {
        cursor: pointer;
        color: #4371CE
    }
}

.like-count {
    justify-self: flex-start;
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.num-likes {
    width: 60px;
}

.song-card-buttons-container{
    display: flex;
}

.fake-button{
    border: 1px solid black;
    background-color: #74A2FF;
    color: black;
    padding: 5px;
    margin: 2px;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;

    &:hover{
        cursor: pointer;
        box-shadow: 2px 2px 6px #A33;
    }
}
