.profile-dropdown-button {
 position: relative;
 display: inline-block;
 padding: 5px 20px 5px 20px;
 background-color: #74A2FF;
 border-radius: 5px;
}

.profile-dropdown-button:hover{
  cursor: pointer;
  box-shadow: 1px 1px 3px 3px  #ff5000;
}

.profile-dropdown {
  display: flex;
  flex-direction: column;
  background-color: #ff5000;
  border: 2px black solid;
  justify-content: end;
  position: absolute;
  border-radius: 5px;
  padding: 10px;
  right: 20px;
  top: 40px;
}

.profile-dropdown > li{
  list-style: none;
}


.navbar-container{
  box-shadow: 10px 1px 3px 3px  #ff5000;
  justify-content: space-between;
  background-color: #58019C;
  display: flex;
  height: 10%;
}

.navbar-link-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
} 

.navbar-link{
  color: #74A2FF;
  text-decoration: none;
}

.navbar-link:hover{
  text-decoration: underline;
}

.navbar-logo-container{
  display: flex;
  justify-content: center;
}

.navbar-logo{
  height: 50px;

}
